<section class="Event Event--{{include.index}}">
    <div class="Event__Content">
      <h2 class="Event__Title">
        {{ include.event.title }}
      </h2>
      <div class="Event__Duration">{{ include.event.duration }}</div>
      <div class="Event__Body">{{ include.event.content }}</div>
      <div class="Event__Links">
        {% if include.event.facebook %}
        <a class="Event__Link" href="{{include.event.facebook}}" title="Facebook" target="_blank">{% include facebook.svg %}</a>
        {% endif %}
        {% if include.event.signup %}
        <a class="Event__Link" href="{{include.event.signup}}" title="Regisztráció" target="_blank">{% include google-form.svg %}</a>
        {% endif %}
        {% if include.event.details %}
        <a class="Event__Link Event__Details" href="{{site.baseurl}}{{include.event.details}}">részletek {% include arrow.svg %}</a>
        {% endif %}
      </div>
    </div>
</section>