<header class="Hero" role="banner">
  <h1 class="Hero__Title Title">
    <div class="Title__Intro">
      A
      <span class="mark">40 éves bolyai Club</span> bemutatja:
    </div>
    <div class="Title__Main">
      A Nagy
    </div>
    <div class="Title__Rest">
      <span class="Logo">(XL)</span>
      <span>
        <span class="mark">
          JUBILEUMI
          <br>KOLLÉGIUMI
          <br>FESZTIVÁL</span>-t
      </span>
    </div>
  </h1>
  <div class="Hero__Year Year">2018</div>
</header>
