---
layout: default
---
<main class="page-content" aria-label="Content">
  <div class="Events Events--desktop">
      <div class="Events__Column">
        {% for event in site.events %}
          {% capture parity %}{% cycle 'odd', 'even' %}{% endcapture %}
          {% if parity == 'odd' %}
          {% include event.html event=event index=forloop.index %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="Events__Column">
        {% for event in site.events %}  
          {% capture parity %}{% cycle 'odd', 'even' %}{% endcapture %}
          {% if parity == 'even' %}
          {% include event.html event=event index=forloop.index %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
  <div class="Events Events--mobile">
    {% for event in site.events %}  
      {% include event.html event=event index=forloop.index %}
    {% endfor %}
  </div>    
</main>
