.Hero {
  @include media(">tablet") {
    display: flex;
  }
}

.Hero__Year {
  @include media(">tablet") {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

.Hero__Title {
  flex: 1;
}
